
<h1>To do: <%=  @task.name %></h1>
<h2>Description: <%= @task.description %></h2>
<p>Created at: <%= @task.created_at %></p>
<p>Last update: <%= @task.updated_at %></p>
<p>Back to <% link_to  %></p>
